@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body, html {
    background-color: lightgrey;
}

header {
    background-color: grey;
}

header h1 {
    padding: 10px;
    text-align:center;
}

nav {
    display: none;
}

#burguer {
    display: block;
    background-color: rgb(56, 56, 56);
    color: white;
    text-align: center;
    padding: 3px;
    cursor: pointer;
}

#burguer:hover {
    background-color: white;
    color: black;
}

nav > ul {
    list-style-type: none;
}

nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(97, 97, 97);
    color: white;
    text-align: center;
    border-top: 2px solid grey;
}

nav a:hover {
    background-color: rgb(75, 75, 75);
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

article h2 {
    padding-bottom: 10px;
}

article p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}

