@charset "UTF-8";

body{
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: chocolate;
}

#principal{
    text-align:center;
}

h2.basico{
    color: aliceblue;
}

#teste1{
    color: red;
}

#teste2{

    color: blue;
}